<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img style="margin-left: 15px;" src="/img/perguntas-e-respostas.png" alt="Logo" width="70" height="55" class="d-inline-block align-text-top"></a>
      <h2 class="navbar-brand">Perguntas e Respostas</h2>
  </div>
</nav>