<h2>Fazer Pergunta: </h2>

<form action="/question/add" method="POST">

    <label for="title">Titulo:</label>
    <input type="text" name="title" id="title" class="form-control border border-secondary-subtle mb-3">

    <label for="content">Conteudo:</label>
    <textarea name="content" id="content" rows="7" class="form-control border border-secondary-subtle"></textarea>

    <button type="submit" class="btn btn-primary mt-4 px-5 float-end">Perguntar</button>

</form>