<h2 class="mb-3">Conectar-se</h2>

<form action="/users/login-user" method="POST">

<label for="email">Email:</label>
<input type="email" name="email" id="email" class="form-control mt-2 mb-2" placeholder="Insira Seu Email">

<label for="password">Senha:</label>
<input type="password" name="password" id="password" class="form-control mt-2 mb-2" placeholder="Insira Sua Senha">

<button class="btn btn-primary mt-3 float-end">Conectar</button>
</form>