<h2 class="mb-3">Resposta:</h2>
<form action="/response/save-response/{{_id}}" method="POST">
    <input type="hidden" name="_id" id="_id" value="{{_id}}">

    <textarea rows="7" name="contentRes" id="contentRes" class="form-control border border-secondary-subtle"
       style="box-shadow: 3px 3px 2px 0px rgba(79,103,181,0.52);" required></textarea>

    <button style="padding: 8px 24px;" class="btn btn-primary mt-3" type="submit">Enviar</button>
</form>